# What is Data Preprocessing?

In [ ]:
# It is the process of converting the row format of data into the meaningful format.
# This is very important part of life cycle of machine learning.
# make sure before passing your data to the machine, it should be clean.

# Feature Engineering ?

In [ ]:
# Feature engineering is a technique to derive new features from the existing feature.
# e.g we can derive two new columns(male and female) from a column name as 'Gender'
# https://prnt.sc/zuxi59DpxmGe

# Handling the missing values in DataSet

In [ ]:
# To handle the missing valeus we have two ways 
#1. remove the entire row of missing values
#2. fill the missing values.

In [ ]:
# Ways to fill the missing values : 
# first you need to check for type of columns'
# numerical column ==> mean/median
# categorical column ==> mode

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_tips = pd.read_csv("tips.csv")

In [ ]:
data_tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
# checking for missing values

In [ ]:
data_tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
# it is very clear that the above dataset has no missing values

# loading the tips_new dataset

In [ ]:
data_tips_new = pd.read_csv("tips_new.csv")

In [ ]:
data_tips_new

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner   2.0
1         10.34  1.66    Male     No   Sun  Dinner   3.0
2         21.01   NaN    Male     No   Sun     NaN   3.0
3         23.68   NaN    Male     No   Sun     NaN   2.0
4         24.59   NaN  Female     No   Sun     NaN   NaN
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner   3.0
240       27.18  2.00  Female    Yes   Sat  Dinner   2.0
241       22.67  2.00    Male    Yes   Sat  Dinner   2.0
242       17.82  1.75    Male     No   Sat  Dinner   2.0
243       18.78  3.00  Female     No  Thur  Dinner   2.0

[244 rows x 7 columns]

In [ ]:
# checking the missing values in it.
data_tips_new.isnull().sum()

total_bill     8
tip           11
sex            0
smoker         7
day            0
time           6
size           9
dtype: int64

In [ ]:
data_tips_new.shape

(244, 7)

In [ ]:
# conclusion : we have missing values in our dataset.

 approach 1 - using dropna()

In [ ]:
data_tips_clean1 = data_tips_new.dropna()

In [ ]:
data_tips_clean1.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
data_tips_clean1.shape

(222, 7)

# 2nd approach to handle the missing values

In [ ]:
# 1. Handling the missing values with mean

In [ ]:
print(type(data_tips_new))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
data_tips_new

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner   2.0
1         10.34  1.66    Male     No   Sun  Dinner   3.0
2         21.01   NaN    Male     No   Sun     NaN   3.0
3         23.68   NaN    Male     No   Sun     NaN   2.0
4         24.59   NaN  Female     No   Sun     NaN   NaN
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner   3.0
240       27.18  2.00  Female    Yes   Sat  Dinner   2.0
241       22.67  2.00    Male    Yes   Sat  Dinner   2.0
242       17.82  1.75    Male     No   Sat  Dinner   2.0
243       18.78  3.00  Female     No  Thur  Dinner   2.0

[244 rows x 7 columns]

In [ ]:
data_tips_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  236 non-null    float64
 1   tip         233 non-null    float64
 2   sex         244 non-null    object
 3   smoker      237 non-null    object
 4   day         244 non-null    object
 5   time        238 non-null    object
 6   size        235 non-null    float64
dtypes: float64(3), object(4)
memory usage: 13.5+ KB

In [ ]:
# storing all the columns name
list1 = data_tips_new.columns
list1

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
print(type(data_tips_new))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
for i in list1:
    if data_tips_new[i].dtypes == 'object':
        data_tips_new[i] = data_tips_new[i].fillna(data_tips_new[i].mode()[0])
        
    else:
        data_tips_new[i] = data_tips_new[i].fillna(data_tips_new[i].mean())

In [ ]:
data_tips_new.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
data_tips_new.shap

(244, 7)

In [ ]:
# Home Task : perform the same operation on Diabetes.csv dataset.